nav {
    background-color: rgb(207, 206, 205); 
    padding: 10px 0;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  nav ul li:hover {
    text-decoration: underline;
  }
  